*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(6, 67, 158, 0.87);
}
.container{
    width: 1000px;
    height: 500px;
    justify-content: center;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
.container .left{
    width: 500px;
    background-image:url(backgroundimage.jpg);
    height: 500px;
    color: white;
    border-radius: 20px 0 0 20px;
}
.container .left h1{
    left: 40%;
    top: 30%;
    position: relative;
    color: orange;
}
.container .left h2{
    left: 40%;
    top: 30%;
    position: relative;
    color: rgb(249, 253, 28);
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right h1{
    color: rgb(247, 228, 65);
    text-align: center;
    right: 20%;
    top: 20%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

.time{
    top: 30%;
    right: 10%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
.subdate{
    margin: 10px;
    padding: 0px 10px;
    background-color: rgb(163, 241, 17);
    border-radius: 4px;
    font-size: 20px;
}